<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dropzone.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <section class="row">
            <div class="col-sm-12">
                <h1>Find your perfect job</h1>
                <h2>Just upload your resume</h2>
            </div>
        </section>
  
        <section class="row">
            <div class="col-sm-12">
                <form action="{{ url_for('parse_resume') }}" class="dropzone" method="POST" enctype="multipart/form-data" id="dz">
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="jobs" checked="true">Jobs</label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio" value="internship">Internship</label>
                </form>
            </div>
        </section>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dropzone.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>